<!doctype html>
<html>
<head>
  <meta charset="{{encoding}}">
  {{#version}}<meta name="generator" content="cleaver {{version}}" />{{/version}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="./node_modules/reveal.js/css/reveal.css">
  <link rel="stylesheet" href="./node_modules/reveal.js/css/theme/white.css">
  <link rel="stylesheet" href="./node_modules/prismjs/themes/prism.css">
  <style type="text/css">
    {{{style}}}
  </style>
  <script>
    var link = document.createElement( 'link' );
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match( /print-pdf/gi ) ?
      './node_modules/reveal.js/css/print/pdf.css' :
      './node_modules/reveal.js/css/print/paper.css';
    document.getElementsByTagName( 'head' )[0].appendChild( link );
</script>
</head>
<body>
<div class="reveal">
    <div class="slides">
      {{{slideshow}}}
    </div>
</div>
<script src="./node_modules/reveal.js/js/reveal.js"></script>
<script src="./node_modules/prismjs/prism.js"></script>
<script src="./node_modules/prismjs/components/prism-jsx.js"></script>
{{#options.watch}}
  <script async src="http://localhost:35729/livereload.js"></script>
{{/options.watch}}
<!-- <script src="./node_modules/reveal.js/lib/js/head.min.js"></script> -->
<script>
  Reveal.initialize({
    controls: false,
    history: true
    // dependencies: [
    //   {
    //     src: './node_modules/reveal.js/plugin/highlight/highlight.js',
    //     async: true,
    //     callback: function() {
    //       hljs.initHighlightingOnLoad();
    //     },
    //   }
    // ]
  });
</script>
<script>
  {{{script}}}
</script>
</body>
</html>
